@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: ;
  --background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) { //media query for dark mode
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* @layer is used to create utilities to the tailwind css */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media only screen and (max-width: 425px) {
  .HomePage {
    h2 {
      font-size: 3rem;
      margin-bottom: 3rem;
    }
  }
}