footer {
    .logo {
        background-color: transparent;
      }

      .quickLinks {
        width: 20%;
      }

      .socialLogos {
        a {
          svg {
            transition: color 0.2s ease;
          }

          &:first-child:hover {
            svg {
              color: #dd2a7b;
            }
          }

          &:last-child:hover {
            svg {
              color: #F56400;
            }
          }
        }
      }

      @media (min-width: 2560px) {
        .footerContainer {
          .logo {
            img {
              width: 160px !important;
            }
          }

          .quickLinks {
            ul {
              li {
                a {
                  font-size: 1.75rem;
                }
              }
            }
          }

          .socialLogos {
            a {
              svg, img {
                width: 2.4rem;
                height: 2.4rem;
              }
            }
          }

          .copyright {
            margin-top: 1rem;
            font-size: 1rem;
          }
        }
      }
}