.header {
  background-color: transparent;

  .logo {
    background-color: transparent;

    @media (max-width: 768px) {
      margin: 0;
    }

    img {
      width: 120px;
      height: 120px;
    }
  }

  .mobileMenu {
    background-color: white;
    width: 50%;
    z-index: 11;
    position: absolute;
    height: -webkit-fill-available;
    height: -moz-available;
    height: fill-available;
    display: flex;
    left: -100%;
    transition: left 0.5s ease-out;

    &.open {
      left: 0;
    }
  }

  a {
    font-size: 1.25rem;
  }

  .hamburger {
    display: none;
  }

  @media (min-width: 2560px) {
    .fullMenu {
      ul {
        li{
          margin-right: 2rem;

          a {
            font-size: 2rem;
          }
        }
      }
    }

    .logo {
      img {
        width: 190px;
        height: 190px;
      }
    }
  }

  @media (min-width: 1440px) {
      .fullMenu {
        .navLinks {
          margin-right: 1rem;
        }
      }
  }

  @media (max-width: 768px) {
    .logo {
      img {
        margin: 0;
      }
    }

    .fullMenu {
      display: none;
    }

    .hamburger {
      display: block;
    }
  }
}