.header {
  background-color: transparent;

  .logo {
    background-color: transparent;

    img {
      width: 140px;
      height: 140px;
    }
  }

  .mobileMenu {
    background-color: aliceblue;
    width: 50%;
    z-index: 11;
    position: absolute;
    height: 100vh;
    display: flex;
  }

  a {
    font-size: 1.25rem;
  }

  .hamburger {
    display: none;
  }

  @media (max-width: 768px) {
    .fullMenu {
      display: none;
    }

    .hamburger {
      display: block;
    }
  }
}