.header {
  background-color: transparent;

  .logo {
    background-color: transparent;

    @media (max-width: 768px) {
      margin: 0;
    }

    img {
      width: 140px;
      height: 140px;
    }
  }

  .mobileMenu {
    background-color: white;
    width: 50%;
    z-index: 11;
    position: absolute;
    height: -webkit-fill-available;
    height: -moz-available;
    height: fill-available;
    display: flex;
    left: -100%;
    transition: left 0.5s ease-out;

    &.open {
      left: 0;
    }
  }

  a {
    font-size: 1.25rem;
  }

  .hamburger {
    display: none;
  }

  @media (max-width: 768px) {
    .logo {
      img {
        margin: 0;
      }
    }

    .fullMenu {
      display: none;
    }

    .hamburger {
      display: block;
    }
  }
}