.AboutPage {
    .AboutContent {
        p {
            word-spacing: 0.1rem;
        }

        img {
            width: 20rem;
        }

        @media (min-width: 2560px) {
            p {
                font-size: 1.3rem;
                width: 45rem;
            }

            img {
                width: 21rem;
            }
        }

        @media (max-width: 768px) {
            p {
                width: 22rem;
                font-size: .98rem;
            }

            img {
                width: 18rem
            }
        }

        @media (max-width: 480px) {
            flex-direction: column;
            align-items: center;

            p {
                width: 20.5rem;
            }
        }

        @media (max-width: 320px) {
            p {
                width: 16rem;
            }

            img {
                width: 16rem;
            }
        }
    }
}