.ContactPage {

    .ContactPage__container {
        margin: 2rem 6rem;
        
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 5px;
            padding: 20px;

            input[type=text], select, textarea {
                width: 100%;
                padding: 12px; 
                border: .5px solid #000; 
                box-sizing: border-box; 
                margin-top: 6px; 
                margin-bottom: 16px; 
                resize: vertical 
              }
              
              input[type=submit] {
                margin-top: 1rem;
                padding: 12px 20px;
                border: 2px solid #000; 
                cursor: pointer;
                transition: all 0.3s ease;
                width: 30%;
                align-self: center;
                height: 4rem;
                font-size: 1.15rem;
                font-weight: 400;
              }
              
              input[type=submit]:hover {
                background-color: black;
                color: white;
              }

              @media (min-width: 2560px) {
                width: 50%;
                margin: 0 auto;
              }
        }
    }

    @media (max-width: 425px) {
      p {
        width: 100%;
      } 

      .ContactPage__container {
        margin: 0 auto;

        form {
          input[type=submit] {
            width: 50%;
          }
        }
      }
    }
}