.button {
    background-color: #fff;
    color: #000;
    padding: 1rem 4.11rem;
    border: .5px solid #000;
    transition: all 0.3s ease;
    align-self: flex-start;
    // margin-left: 10.5rem;

    &:hover {
        background-color: #000;
        color: #fff;
    }
}

@media only screen and (max-width: 425px) {
    .button {
        padding: 1rem 3.6rem;
        // width: 100%;
        text-align: center;
    }
}