.cart {
  .cartContainer {
    padding: 1rem 0;

    @media (max-width: 425px) {
      flex-direction: column;

      .cartItem {
        justify-content: center;
      }

      .cartContent {
        justify-content: center;
        margin-top: 1rem;
      }
    }
  }

  .cartItem {
    img {
      width: 8.5rem;
      height: 8.5rem;
      object-fit: cover;
      object-position: center;
    }   
  }

  .quantityButton {

  }

  .totalContainer {
    padding: 0 3rem;
  }
  
  .checkoutButton {
    
  }

}

